<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Fernando-Santos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'logo.jpg' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-slate-900 dark:text-slate-400">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     
    <%= render "layouts/header" %>
     
    <main class="container mx-auto mt-28 px-5 flex ">
      <%= yield %>
    </main>
  </body>
</html>
